@font-face {
  font-family: 'Selawik Light';
  src: url('selawkl.woff');
}

body {
  font-family: 'Selawik Light';
}

/* --- NAVIGATION STYLING --- */

nav {
  display: flex;
  justify-content: flex-end;
  background: lightgray;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

/* --- STUDENT LIST STYLING --- */

#student-list {
  list-style: none;
  padding-left: 0;
}

#student-list .id {
  color: gray;
}

#student-list .name {
  font-size: 150%;
}

#student-list .family.name {
  font-weight: bold;
  text-transform: uppercase;
}

#student-list .jmbag::before {
  content: '(';
}
#student-list .jmbag::after {
  content: ')';
}

#student-list .lead {
  vertical-align: top;
}

#student-list .delete {
  color: red;
  visibility: hidden;
}

#student-list > li {
  height: 2em;
  overflow: hidden;
}

#student-list > li.removed {
  opacity: 0;
  height: 0;
  transition: all 0.5s ease-in;
}

#student-list > li:hover > .delete {
  visibility: unset;
}

#student-list > li:hover > .delete:hover {
  cursor: pointer;
}

/* --- FORM STYLING --- */

form {
  font-family: inherit;
  display: flex;
  flex-wrap: wrap;
}

form > * {
  margin: 2px;
}

form > button {
  flex-basis: 100%;
}

@media screen and (max-width: 360px) {
  form {
    flex-direction: column;
  }
}
